-r ../requirements.txt
ansible>=14.1.0
ansible-compat==26.3.0
ansible-lint>=26.4.0
docker
molecule==25.1.0
molecule-plugins==25.8.12
paramiko>=5.0.0
pre-commit>=4.6.0
pylint>=4.0.6
pytest>=9.1.1
pytest-testinfra>=10.2.2
tox>=4.55.1
yamllint>=1.38.0
