name: CI
on:
  pull_request:
    branches: ["*"]
    paths-ignore:
      - "**.md"
      - "LICENSE"
  workflow_dispatch:

jobs:
  format:
    uses: trfore/ansible-role/.github/workflows/format.yml@main

  lint_ansible:
    needs:
      - format
    uses: trfore/ansible-role/.github/workflows/lint_ansible.yml@main

  lint_python:
    needs:
      - format
    uses: trfore/ansible-role/.github/workflows/lint_py.yml@main

  v6_test:
    needs:
      - lint_ansible
      - lint_python
    strategy:
      fail-fast: false
      matrix:
        distro: [centos9, debian11, ubuntu2204]
        version: ["6.0.23"]
        molecule_scenario: ["-s default"]
    uses: ./.github/workflows/test.yml
    with:
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
      molecule_scenario: ${{ matrix.molecule_scenario }}

  v7_test:
    needs:
      - lint_ansible
      - lint_python
    strategy:
      fail-fast: false
      matrix:
        distro: [centos9, debian11, debian12, ubuntu2204]
        version: ["7.0.20"]
        molecule_scenario: ["-s default"]
    uses: ./.github/workflows/test.yml
    with:
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
      molecule_scenario: ${{ matrix.molecule_scenario }}

  v8_test:
    needs:
      - lint_ansible
      - lint_python
    strategy:
      fail-fast: false
      matrix:
        distro: [centos9, debian12, ubuntu2404]
        version: ["8.0.9"]
        molecule_scenario: ["-s default"]
    uses: ./.github/workflows/test.yml
    with:
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
      molecule_scenario: ${{ matrix.molecule_scenario }}

  # Run these test last and use separate runner to avoid FP/FN on THP test
  v8_test_thp:
    needs:
      - lint_ansible
      - lint_python
      - v7_test
      - v8_test
    strategy:
      fail-fast: false
      matrix:
        distro: [debian12, ubuntu2404]
        version: ["8.0.9"]
        molecule_scenario: ["-s thp"]
        include:
          - distro: centos9
            experimental: true
            molecule_scenario: ["-s thp"]
    uses: ./.github/workflows/test.yml
    with:
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
      molecule_scenario: ${{ matrix.molecule_scenario }}

  check:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - format
      - lint_ansible
      - lint_python
      - v6_test
      - v7_test
      - v8_test
      - v8_test_thp
    steps:
      - name: All jobs passed
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: One or more jobs failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
