name: CI
on:
  pull_request:
    branches: ["*"]
    paths-ignore:
      - "**.md"
      - "LICENSE"
  workflow_dispatch:

jobs:
  format:
    uses: trfore/ansible-role/.github/workflows/format.yml@main

  lint_ansible:
    needs:
      - format
    uses: trfore/ansible-role/.github/workflows/lint_ansible.yml@main

  lint_python:
    needs:
      - format
    uses: trfore/ansible-role/.github/workflows/lint_py.yml@main

  v4_test:
    needs:
      - lint_ansible
      - lint_python
    strategy:
      fail-fast: false
      matrix:
        distro: [centos8, debian10, ubuntu2004]
        version: ["4.4.29"]
        molecule_scenario: ["-s default", "-s install_tarball"]
    uses: ./.github/workflows/test.yml
    with:
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
      molecule_scenario: ${{ matrix.molecule_scenario }}

  v5_test:
    needs:
      - lint_ansible
      - lint_python
    strategy:
      fail-fast: false
      matrix:
        distro: [centos8, debian10, debian11, ubuntu2004]
        version: ["5.0.31"]
        molecule_scenario: ["-s default", "-s install_tarball"]
    uses: ./.github/workflows/test.yml
    with:
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
      molecule_scenario: ${{ matrix.molecule_scenario }}

  v6_test:
    needs:
      - lint_ansible
      - lint_python
    strategy:
      fail-fast: false
      matrix:
        distro: [centos8, centos9, debian10, debian11, ubuntu2004, ubuntu2204]
        version: ["6.0.20"]
        molecule_scenario: ["-s default", "-s install_tarball"]
    uses: ./.github/workflows/test.yml
    with:
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
      molecule_scenario: ${{ matrix.molecule_scenario }}

  v7_test:
    needs:
      - lint_ansible
      - lint_python
    strategy:
      fail-fast: false
      matrix:
        distro: [centos8, centos9, debian11, debian12, ubuntu2004, ubuntu2204]
        version: ["7.0.17"]
        molecule_scenario: ["-s default", "-s install_tarball"]
    uses: ./.github/workflows/test.yml
    with:
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
      molecule_scenario: ${{ matrix.molecule_scenario }}

  check:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - format
      - lint_ansible
      - lint_python
      - v4_test
      - v5_test
      - v6_test
      - v7_test
    steps:
      - name: All jobs passed
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: One or more jobs failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
